* {
    box-sizing: border-box;
}

body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}
.logo{
    width: 60px;
    height: 60px;
   padding: 5px;
    border-radius: 20px;
}
.bar{
    background-color: rgb(169 175 183 / 36%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bar-p{
    color: gray;
    font-weight: bold;
    font-size: small;
}
.line-icon{
    padding: 0px 0px 0px 26px;
    color: gray;
    font-size: 36px;
}
.bar-a{
    text-decoration: none;
    font-size: 13px;
    color: blue;
    font-weight: bold;
    padding-left: 30px;
}
.letter1{
    display: flex;
    align-items: center;
}
.letter{
    color: gray;
    padding-right: 30px;
}
.text{
    font-size: 30px;
    padding-left: 8px;
}