<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../s_10/styles/11.css">
    <link rel="stylesheet" type="text/css" href="../s_10/styles/structure.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>11homework</title>
</head>
<body>
<header>
    <div class="container">
        <nav>
            <a href="#" class="a">START BOOTSTRAP</a>
            <ul>
                <li><a href="#" class="a">მთავარი</a></li>
                <li><a href="#" class="a">ჩვენს შესახებ</a></li>
                <li><a href="#" class="a">კონტაქტი</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="step2">
    <i class="far fa-user icon"></i>
    <p class="firstP"> ბუტსტრაფის დასაწყისი</p>

    <p class="secondP">ვებ დეველოპერები ბუტსტრაფის დასაწყისივებ დეველოპერები ბუტსტრაფის დასაწყისი</p>
</div>
<div class="step3">
    <h2 class="h2">პორტფოლიო</h2>
    <i class="fas fa-grip-lines icon2"></i>
    <i class="far fa-star icon2"></i>
    <i class="fas fa-grip-lines icon2"></i>
</div>
<div class="structure">
    <div class="struc1 col-3 strucM">
        <i class="fas fa-house-user"></i>
    </div>
    <div class="struc2 col-3  strucM">
        <i class="fas fa-birthday-cake"></i>
    </div>
    <div class="struc3 col-3 strucM ">
        <i class="fas fa-campground"></i>
    </div>
    <div class="struc4 col-3 strucM ">
        <i class="fas fa-desktop"></i>
    </div>
    <div class="struc5 col-3 strucM ">
        <i class="fas fa-ambulance"></i>
    </div>
    <div class="struc6 col-3 strucM">
        <i class="fab fa-apple"></i>
    </div>
</div>
<div class="parent">
    <h1>ჩვენს შესახებ</h1>
    <i class="fas fa-grip-lines icon2"></i>
    <i class="far fa-star icon2"></i>
    <i class="fas fa-grip-lines icon2"></i>
    <div style="display: inline-block">
        <div class="col-6 struca">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search
                for
                'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
                years, sometimes by accident, sometimes on purpose</p>
        </div>
        <div class=" col-6 struca">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search
                for
                'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
                years, sometimes by accident, sometimes on purpose</p>
        </div>
    </div>
    <div class="pi">
    <p>ჩვენს შესახებ</p><i class="far fa-user iconN"></i>
    </div>
</div>
<div class="contact">
    <h3>დაგვიკავშირდით</h3>
    <i class="fas fa-grip-lines icon2"></i>
    <i class="far fa-star icon2"></i>
    <i class="fas fa-grip-lines icon2"></i>
</div>
<form class="form">
    <input type="text" name="" placeholder="name" class="input">
    <input type="text" name="" placeholder="last name" class="input">
    <input type="text" name="" placeholder="e-maill" class="input">
    <input type="submit" value="send" class="input2 input">
    </div>
</form>
<div class="clear"></div>
<footer>
    <div class="last">
        <div class=" col-4 ">
            <h4>LOCATION</h4>
            <p>nt of using Lorem Ipsum is that it has a more-or-less normal</p>
        </div>
        <div class=" col-4 ">
            <h4>ABOUT THE WEB</h4>
            <i class="fab fa-apple"></i>
            <i class="fab fa-apple"></i>
            <i class="fab fa-apple"></i>
            <i class="fab fa-apple"></i>
            <i class="fab fa-apple"></i>

        </div>
        <div class=" col-4 ">
            <h4>ABOUT FREELANCER</h4>
            <p>nt of using Lorem Ipsum is that it has a more-or-less normal</p>
        </div>
    </div>
</footer>
</body>
</html>