* {
    box-sizing: border-box;
}

body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    float: left;

}

ul {
    float: right;

}

header::after {
    content: "";
    clear: both;
    display: block;
}

.a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: inline-block;
    font-family: nino;
}

header {
    background-color: rgba(147, 105, 105, 0.99);
}

img {
    max-height: 200px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

.bg {
    background-color: rgba(147, 105, 105, 0.81);
    height: 200px;
}

.location {
    padding-top: 20px;
}

.span1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.68);
    border: 2px solid white;
    border-radius: 5px;
    top: 112px;
    left: 32px;
    padding: 20px;

}

.span2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.68);
    border: 2px solid white;
    border-radius: 20px;
    top: 15px;
    right: 36px;
    padding: 5px 14px;
}

.div1 {
    position: relative;
    border: solid grey 2px;
    border-radius: 10px;
}

.location > i {
    float: left;
    padding-right: 5px;
}
.row1{
    max-width: 50%;
}
.button{
    border-radius: 5px;
    background-color: deepskyblue;
    padding: 5px 10px;
}
.star{
    border-radius: 4px;
    background-color: lightslategray;
    padding: 5px;
    color: white;
}
.trash{
    border-radius: 4px;
    background-color: lightslategray;
    padding: 5px;
    color: white;
}
.map{
    color: deepskyblue;
}
.row {
    margin: 0 !important;
}
.hp{
    padding: 15px;
}