<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="12css.css">
    <link rel="stylesheet" type="text/css" href="structure.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>12hausework</title>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#" class="a">მთავარი</a></li>
                <li><a href="#" class="a">ჩვენს შესახებ</a></li>
                <li><a href="#" class="a">კონტაქტი</a></li>
            </ul>
        </nav>
    </header>
</div>
<section class="section">
    <div class="row">
        <div class="col-4">
            <div class="div1">
                <img src="moon.jpg">
                <span class="span1">SS</span>
                <div class="hp">
                    <h2>Fusion Complex</h2>
                    <p>y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                        was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and
                        more
                        recently wi</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>$250,000</h3>
                        <p>raised</p>
                        <div class="location">
                            <i class="fas fa-map-marker-alt map"></i>
                            <p>London, UK</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3>$5,000,000</h3>
                        <p>needed</p>
                    </div>
                    <div class="row row1">
                        <div class="col-8">
                            <button class="button">find out more</button>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star star"></i>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-trash-alt trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="div1">
                <img src="moon.jpg">
                <span class="span1">SS</span>
                <span class="span2">CSS</span>
                <div class="hp">
                    <h2>Fusion Complex</h2>
                    <p>y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                        was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and
                        more
                        recently wi</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>$250,000</h3>
                        <p>raised</p>
                        <div class="location">
                            <i class="fas fa-map-marker-alt map"></i>
                            <p>London, UK</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3>$5,000,000</h3>
                        <p>needed</p>
                    </div>
                    <div class="row row1">
                        <div class="col-8">
                            <button class="button">find out more</button>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-star star"></i>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-trash-alt trash"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="div1">
                <div class="bg"></div>
                <span class="span1">SS</span>
                <span class="span2">CSS</span>
                <div class="hp">
                    <h2>Fusion Complex</h2>
                    <p>y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                        was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and
                        more
                        recently wi</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>$250,000</h3>
                        <p>raised</p>
                        <div class="location">
                            <i class="fas fa-map-marker-alt map"></i>
                            <p>London, UK</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3>$5,000,000</h3>
                        <p>needed</p>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-8">
                        <button class="button">find out more</button>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-star star"></i>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-trash-alt trash"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>