<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="13css.css">
    <link rel="stylesheet" type="text/css" href="structure.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>13</title>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="#" class="a">მთავარი</a></li>
                <li><a href="#" class="a">ჩვენს შესახებ</a></li>
                <li><a href="#" class="a">კონტაქტი</a></li>
            </ul>
        </nav>
    </header>
</div>
<section class="section">
    <div class="row">
        <div class="col-3">
            <div class="div1">
                <div class="img3">
                    <img src="1.jpg" class="img1 img2">
                    <div class="div2">
                        <p>Zoom</p>
                    </div>
                </div>
                <div class="hp">
                    <h4 class="h4">Penny Farry</h4>
                    <p class="p">Agency owner</p>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="div1">
                <div class="img3">
                    <img src="2.jpg" class="img1 img2">
                    <div class="div2">
                        <p>Zoom</p>
                    </div>
                </div>
                <div class="hp">
                    <h4 class="h4">Miaa Farry</h4>
                    <p class="p">Agency owner</p>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="div1">
                <div class="img3">
                    <img src="4.jpg" class="img1 img2">
                    <div class="div2">
                        <p>Zoom</p>
                    </div>
                </div>
                <div class="hp">
                    <h4 class="h4">jassie Parry</h4>
                    <p class="p">Agency owner</p>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="div1">
                <div class="img3">
                    <img src="5.jpg" class="img1 img2">
                    <div class="div2">
                        <p>Zoom</p>
                    </div>
                </div>
                <div class="hp">
                    <h4 class="h4">Penny Farry</h4>
                    <p class="p">Agency owner</p>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg">
<div class="row">
    <div class="col-4">
        <div class="basic">
            <h2 class="h2">Basic</h2>
            <p>The standard version</p>
            <hr/>
            <p class="truck">$13.55 /truck</p>
            <hr/>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Support forum</p>
            </div>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Free hosting</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p> 40mb storage space</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>Social media social media</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>10gb of storage space</p>
            </div>
            <a href="#" class="aa">Choose Plan</a>
        </div>
    </div>
    <div class="col-4">
        <div class="basic">
            <h2 class="h2">Basic</h2>
            <p>The standard version</p>
            <hr/>
            <p class="truck">$13.55 /truck</p>
            <hr/>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Support forum</p>
            </div>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Free hosting</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p> 40mb storage space</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>Social media social media</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>10gb of storage space</p>
            </div>
            <a href="#" class="aa">Choose Plan</a>
        </div>
    </div>

    <div class="col-4">
        <div class="basic">
            <h2 class="h2">Basic</h2>
            <p>The standard version</p>
            <hr/>
            <p class="truck">$13.55 /truck</p>
            <hr/>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Support forum</p>
            </div>
            <div class="basic1">
                <i class="fas fa-check icon"></i>
                <p>Free hosting</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p> 40mb storage space</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>Social media social media</p>
            </div>
            <div class="basic1">
                <i class="fas fa-times icon"></i>
                <p>10gb of storage space</p>
            </div>
            <a href="#" class="aa">Choose Plan</a>
        </div>
    </div>
</div>
</div>
</body>
</html>