<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="14css.css">
    <link rel="stylesheet" type="text/css" href="structure.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>14</title>
</head>
<body>

<div class="freeth">
    <div class="color">
        <div class="container2">

            <div class="line1">
                <i class="fas fa-phone-alt phone"></i>
                <p>678-914-8631</p>
                <i class="far fa-envelope phone"></i>
                <p>customer-care@edbotics.com</p>
                <p class="line11">$0.00</p>
                <i class="fas fa-shopping-cart line11"></i>
                <span class="count">0</span>
            </div>
        </div>
    </div>
    <div class="color2">
        <div class="container2">
            <header>
                <a href="#" class="logo"><img src="logo.png" class="logo" alt="ლოგო"/></a>
                <nav>
                    <ul>
                        <li><a href="#" class="a">SHOP</a></li>
                        <li><a href="#" class="a">NEW ARRIVALS</a></li>
                        <li><a href="#" class="a">NEWS</a></li>
                        <li><a href="#" class="a">CONTACT US</a></li>
                        <li><a href="#" class="a">SUPPORT</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</div>
<div class="conent">
    <div class="line3">
        <img src="banner-image.jpg" class="bg">
        <div class="banner">
            <p class="bannerP">March Special offer: 40% OFF</p>
            <h1 class="bannerH">STONE BEAT</h1>
            <p class="bannerP2"> industrial design combined with professional sound technology to deliver
                for you</p>
            <p class="bannerP3">state of the
                art audio experiance</p>
            <a href="#" class="shop">SHOP NOW</a>
        </div>
    </div>
    <div class="container2">
        <div class="line4">
            <div class="row">
                <div class="green">
                    <div class="col-4">
                        <img src="headphone-banner-2.jpg">
                    </div>
                    <div class="col-4">
                        <img src="smart-watch.jpg">
                    </div>
                    <div class="col-4">
                        <img src="4k-camera.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <h2 class="blue">New Arrivals</h2>
            <p class="blueP">_______</p>
        </div>
        <div class="line5">
            <div class="row">
                <div class="headphone">
                    <div class="col-3">
                        <div class="ear1">
                            <img src="image1-300x300.jpg">
                            <p class="sale">Sale!</p>
                            <p class="earP1">Ear Pearls</p>
                            <span class="earP2 overline">$120.00</span>
                            <span class="earP2">$96.00</span>
                            <p class="earP3">ADD TO CART</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="ear1">
                            <img src="image2-300x300.jpg">
                            <p class="sale">Sale!</p>
                            <p class="earP1">Ear Pearls</p>
                            <span class="earP2 overline">$120.00</span>
                            <span class="earP2">$96.00</span>
                            <p class="earP3">ADD TO CART</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="ear1">
                            <img src="image3-300x300.jpg">
                            <p class="sale">Sale!</p>
                            <p class="earP1">Ear Pearls</p>
                            <span class="earP2 overline">$120.00</span>
                            <span class="earP2">$96.00</span>
                            <p class="earP3">ADD TO CART</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="ear1">
                            <img src="watch-3-300x300.jpg">
                            <p class="sale">Sale!</p>
                            <p class="earP1">Ear Pearls</p>
                            <span class="earP2 overline">$120.00</span>
                            <span class="earP2">$96.00</span>
                            <p class="earP3">ADD TO CART</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line6">
                <img src="offer-banner.jpg" class="offer">
            </div>
        </div>


        <div class="featured">
            <h2 class="featuredH">Featured Products</h2>
            <p>______</p>
            <div class="line7">
                <div class="row">
                    <div class="headphone">
                        <div class="col-3">
                            <div class="ear1">
                                <img src="image1-300x300.jpg">
                                <p class="sale">Sale!</p>
                                <p class="earP1">Ear Pearls</p>
                                <span class="earP2 overline">$120.00</span>
                                <span class="earP2">$96.00</span>
                                <p class="earP3">ADD TO CART</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="ear1">
                                <img src="image2-300x300.jpg">
                                <p class="sale">Sale!</p>
                                <p class="earP1">Ear Pearls</p>
                                <span class="earP2 overline">$120.00</span>
                                <span class="earP2">$96.00</span>
                                <p class="earP3">ADD TO CART</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="ear1">
                                <img src="image3-300x300.jpg">
                                <p class="sale">Sale!</p>
                                <p class="earP1">Ear Pearls</p>
                                <span class="earP2 overline">$120.00</span>
                                <span class="earP2">$96.00</span>
                                <p class="earP3">ADD TO CART</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="ear1">
                                <img src="watch-3-300x300.jpg">
                                <p class="sale">Sale!</p>
                                <p class="earP1">Ear Pearls</p>
                                <span class="earP2 overline">$120.00</span>
                                <span class="earP2">$96.00</span>
                                <p class="earP3">ADD TO CART</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop2">
            <a href="#" class="shop">SHOP NOW</a>
        </div>
        <div class="latest">
            <h2>Latest News</h2>
            <p>_____</p>
        </div>
        <div class="loading">
            <i class="fas fa-spinner"></i>
        </div>
        <div class="shopdiv">
            <a href="#" class="shop">VIEW ALL BLOG</a>
        </div>

    </div>
    <div class="icons">
        <div class="footerRow">
            <div class="row">
                <div class="col-3">
                    <div class="icons2">
                        <i class="fas fa-truck truck"></i>
                        <div class="PP">
                            <p class="free">Free Delivery</p>
                            <p class="shipping">Free Shipping on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icons2">
                        <i class="fas fa-headphones-alt truck"></i>
                        <p class="free">Online Support 24/7</p>
                        <p class="shipping">Support online 24 hours a day</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icons2">
                        <i class="fas fa-piggy-bank truck"></i>
                        <p class="free">Refund Policy</p>
                        <p class="shipping">Under 10 days return guarantee</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icons2">
                        <i class="fas fa-restroom truck"></i>
                        <p class="free">Member Discount</p>
                        <p class="shipping">Special offers for club members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerRow">
            <div class="row">
                <div class="col-5">
                    <span class="ed">ED</span>
                    <span class="bo">BOTICS</span>
                    <P class="footerP">500s, when an unknown printer took a galley of type and scrambled it to make a
                        type
                        specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially
                        u</P>
                    <div class="ip">
                        <i class="fas fa-map-marker-alt map"></i>
                        <p class="mapP">257 Wall Street, USA, New York</p>
                        <i class="fas fa-headphones-alt map"></i>
                        <p>555-34-57-8454</p>
                        <i class="far fa-envelope map"></i>
                        <p>Customer-care@edbotics.com</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="h2p">
                        <h2>Useful Links</h2>
                        <p>Shop</p>
                        <p>New Arrivals</p>
                        <p>News</p>
                        <p>Contact Us</p>
                        <p>Support</p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="last">
                        <h2>Newsletter</h2>
                        <p>Get notified of new products, limited releases, and more.</p>
                        <input class="textarea" placeholder="your Email Adress"/>
                        <a href="#" class="submit">Submit</a>
                        <div class="facebook">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-youtube"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="end">
        <hr class="hr"/>
        <div class="footerRow">
        <p class="lastP">Copyright @ 2020 EDBOTICS. All rights reserved.</p>
        <img src="payments-1.png" class="pay">
        </div>
    </div>
</div>


</body>
</html>