<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>17homework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="17css.css">
    <link rel="stylesheet" type="text/css" href="flex.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="first">
    <p class="first-1">about COVID-19</p>
    <p class="first-2">Here We Are About COVID-19</p>
</div>
<header>
    <nav>
        <ul>
            <li><a>HOME</a></li>
            <li><a>ABOUT US</a></li>
            <li><a>CONTACT</a></li>
            <li><a>SHOP</a></li>
        </ul>
    </nav>
</header>
<div class="banner">
    <img src="climbing-hero.jpg" class="img1">
    <div class="banner-p container-2">
        <h2 class="banner-p-h2">Serving You</h2>
        <h2 class="banner-p-h2">Since 1989</h2>
        <p>Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy middletons yet understood
            decisively boy law she.</p>
    </div>
</div>
<div class="container">
    <div class="way">
        <div class="way1">
            <p class="way1-p">WAYS TO SUPPORT</p>
            <p class="out">Support Acme Outdoors</p>
        </div>
        <div class="way2">
            <p>Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy middletons yet understood
                decisively boy law she. Answer him easily are its barton little. Oh no though mother be things simple
                itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope.</p>
        </div>
    </div>
    <div class="line3">
        <div class="row">
            <div class="col-4">
                <div class="rel">
                    <div class="ho"></div>
                    <img src="gray.jpg" class="imgimg">
                    <div class="img-p">
                        <p class="img-p-1">01</p>
                        <p class="img-p-2">SHOP PRODUCTS</p>
                    </div>
                    <p class="our">Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy
                        middletons yet
                        understood
                        decis
                        simple
                        itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope</p>
                </div>
            </div>
            <div class="col-4">
                <div class="rel">
                    <img src="gray.jpg" class="imgimg">
                    <div class="img-p">
                        <p class="img-p-1">02</p>
                        <p class="img-p-2">DONATE</p>
                    </div>
                    <p class="our">Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy
                        middletons yet
                        understood
                        decis
                        simple
                        itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope</p>
                </div>
            </div>
            <div class="col-4">
                <div class="rel">
                    <img src="gray.jpg" class="imgimg">
                    <div class="img-p">
                        <p class="img-p-1">03</p>
                        <p class="img-p-2">BUY GIFT CARDS</p>
                    </div>
                    <p class="our">Necessary ye contented newspaper zealously breakfast he prevailed. Melancholy
                        middletons yet
                        understood
                        decis
                        simple
                        itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-2">
    <div class="banner-3">
        <div class="h-p-a">
            <h1>How We're Keeping you safe during COVID-19</h1>
            <p>itself. Dashwood horrible he strictly on as. Home fine in so am good body this hope</p>
            <a href="#">READ MORE</a>
        </div>
    </div>
    <img src="15bc95c9a97caed4b0a9ed9c9457d010.jpg" class="banner-2-img">
</div>
<div class="last container">
    <p>safe during COVID-19</p>
    <p class="last-p">Open 24/7/365.</p>
</div>
</body>
</html>