*{
    box-sizing: border-box;
}
.content{
    background: grey;
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.red{
    background: red;
}
.inp{
    padding: 5px;
}
.inp-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 10px;
    background: white;
}
.inp-div>input{
    margin: 5px;
}

.hidden{
    display: none;
}
.visible{
    display: block;
}