* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}

body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}
.mainN{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.div-1{
    padding: 5px;
    width: 100%;
}
.div-2{
    padding: 5px;
    width: 40%;
}
.div-3{
    padding: 5px;
    width: 60%;
}
.color{
    background-color: hotpink;
    height: 100%;
    font-size: 50px;
    color: #000386;
}
.pig{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.bg{
    background-color: #000386;
    height: 100%;
}
.one{
    padding: 5px;
    width: 100%;
}
.two{
    padding: 5px;
    width: 50%;
}
.text{
    padding: 5px;
    width: 50%;
}

@media screen and (max-width: 1200px){
    .text{
        width: 100%;
    }
    .two{
        width: 100%;
    }
    .div-2{
        width: 100%;
    }
    .div-3{
        width: 100%;
    }
}
