* {
    box-sizing: border-box;
}

.parent {
    background-color: red;
    width: 400px;
    height: 400px;
    margin: auto;
    /*overflow: hidden;*/
    border-radius: 50%;
    position: relative;

}

.child {
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left:150px;
    background-color: green;
    width: 100px;
    height: 100px;
    transition: transform 4s linear;

}

.parent:hover .child {
    transform: translate(100%);
    background-color: yellow;
    animation: me 3s ease-in forwards;
}
@keyframes me {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateY(100%);
    }
    66%{
        transform: translateX(100%) translateY(100%);
    }
    100%{
        transform: translateX(100%);
    }
}
