* {
    box-sizing: border-box;
}

body, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}

.head {
    background-image: url("HD-Food-Backgrounds (1).jpg");
    display: flex;

    color: white;
    justify-content: space-around;
    width: 100%;
    height: 350px;

    position: relative;

}
.about{
    width: 100%;
}
.menu{
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 15px;
    align-items: center;
    background: #afafaf87;
}

.y {
    display: flex;
    justify-self: left;
}

.black {

    color: white;

}

.join {
    margin: auto;
    width: 640px;
    padding: 100px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;

}

.bloor {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.about {
    display: flex;
}

.button {
    border-radius: 5px;
    background-color: #8b6013;;
    color: white;
    font-size: large;
    padding: 4px;
    margin: 16px;
}

.line2-div > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 25px;
}

.line2-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    margin: auto;
    justify-content: space-around;
}

.line2 {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.line3 {
    background-image: url("Free-Food-Images-Download.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    padding: 200px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

header{
    background: #d1d1d1;
}

.line3 > p {
    background-color: #2b2b2bc9;
    border-radius: 10px;
    margin: 10px;
    width: 50%;
}

.main-body{
    max-width: 1200px;
    margin: auto;
}

.bg {
    background-color: #2b2b2b4d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line4 {
    display: flex;
    flex-direction: unset;
}

.pictures {
    width: 50%;
    background-color: #80808073;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

hr {
    width: 30%;
    color: #cbaf49;
    border-bottom: groove;
}

.pictures > img {
    width: 250px;
    height: 180px;
}

.text {
    width: 50%;
    text-align: center;
    padding: 87px;
    font-size: 20px;
    font-style: italic;
    background-color: #8080804a;
}

.lime5-img > img {
    width: 218px;
    height: 160px;
}

.line5-img {
    width: 30%;

}

.line5 {
    display: flex;
    margin-top: 33px;
    align-items: center;
}
.lab{
    padding: 5px;
}
.registrer-submit{
    margin-top: 7px;
    height: 28px;
}

.line5-text {
    width: 70%;
    padding-left: 60px;
    font-size: 19px;
}
.jon{
    text-align: center;
    font-weight: bold;
}
.line6{
    background-image:url("129873-widescreen-bar-background-1920x1200.jpg");
    background-size: contain;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 81px;
    position: relative;
}
.jonn{
    text-align: center;
    font-weight: bold;
    padding: 18px;
    color: white;
    font-size: 29px;
    background-color: #0c0b0b;
    border-radius: 7px;
}
.jonn:hover{
    background-color: red;
}
.email{
    background-color: #f9f3f3;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    border-color: #ffbc00;
    height: 29px;
    margin: 21px;
}
.buton{
    width: 5%;
}

.but{
    display: flex;
    position: relative;
}
.but > button{
    height: 31px;
    position: absolute;
    top: 4px;
    right: 0px;
    border-left: 3px;
    border-radius: 9px;
    border-color: #9b6a12;
}
.line7{
    background-image: url(woman.jpg);
    /*height: 300px;*/
    background-position: 100% bottom;
    padding: 67px;
    margin-top: 100px;

}
.phr{
    color: #f5f0f0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.register{
    display: flex;
    flex-direction: column;
    width: 17%;
    border: 2px solid #ff8100;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: #ff5e00;

}
.register > input{
    height: 28px;
}
.about-in{
    flex: 1;
    text-align: center;
}
.about-in > p{
   margin: auto;
}
.about-in> a{
    color: white;
    text-decoration-line: blink;
}
.oneP{
    color: white;
    font-size: 25px;
    padding-bottom: 19px;
}
.line8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: gray;
}
.line8 > label{
padding: 5px;
}
.sent{
margin: 8px;
height: 27px;
width: 69px;
}
.line8-input2{
    height: 80px;
    border-top: 2px;
    border-right: 2px solid;
}
.line8-input1{
    height: 36px;
    border-left: 2px solid black;
}
.position-absolute{
    width: 100%;
    height: 100%;
    background-color: #000000d6;;
    top: 1px;
    position: absolute;
}
.div-jonn{
    position: absolute;
    top: 6px;
}
.line8:hover{
    background-color: rgba(255, 0, 0, 0.76);
}
.line7:hover{
    background-color: rgba(255, 0, 0, 0.76);
}
.line5:hover{
    background-color: rgba(255, 0, 0, 0.76);
}
.menu-hidden{
    color: black;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 9px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear, opacity 1s linear;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 8px 8px 17px red;
    left: 50%;
    transform: translate(-50%, 0px);
}
.menu-hidden:hover{
    background-color: rgba(0, 0, 0, 0.58);
    color: #ffffff;
}
.home{
    position: relative;
}
.home:hover .menu-hidden{
    visibility: visible;
    opacity: 2;
}
.menu-hidden >p:hover{
    background-color: red;
    color: rgba(0, 0, 0, 0.66);
}